<%!
from _base.config import Config
from model.msg import msg_unread_list, msg_unread_count
%>
<%def name="head()">

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>
    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../static/css/admin/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../../static/css/admin/plugins/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/admin/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../../static/css/admin/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../static/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">


</head>

</%def>


<%def name="nav()">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="//${Config.host}">Back To Home</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>
                        <%
                            count = msg_unread_count()
                        %>
                        % if count:
                            <span> ${count} new messages</span>
                        % endif
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <%
                            msgs = msg_unread_list()
                        %>
                        % if msgs:
                            % for o in msgs:
                                <li>
                                    <a href="/admin/msg">
                                        <div>
                                            <strong>${o.user_name}</strong>
                                            <span class="pull-right text-muted">
                                                <em>${o.post_time}</em>
                                            </span>
                                        </div>
                                        <div>${o.msg_summarize}</div>
                                    </a>
                                </li>
                            % endfor

                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#">
                                    <strong>Read All Messages</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>

                        % else:
                            <li>
                                <strong class="text-center"> No Messages Receive</strong>
                            </li>
                        % endif
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
        </nav>
</%def>

<%def name="nav_side(cur_path=None)">
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <%
                    timeline_active = new_active = msg_active = setting_active = ""
                    if cur_path is None:
                        timeline_active = "active"
                    elif cur_path == "blog_new":
                        new_active = "active"
                    elif cur_path == "msg":
                        msg_active = "active"
                    elif cur_path == "setting":
                        setting_active = "active"
                %>
                <li>
                    <a class="${timeline_active}" href="/admin"><i class="fa fa-dashboard fa-fw"></i>Timeline</a>
                </li>
                <li>
                    <a class = "${new_active}" href="/admin/blog/edit?new=True"><i class="fa fa-edit fa-fw"></i>New</a>
                </li>
                <li>
                    <a class = "${msg_active}" href="/admin/msg"><i class="fa  fa-table fa-fw"></i> Message</a>
                </li>
                 <li>
                    <a class = "${setting_active}" href="/admin/setting"><i class="fa fa-facebook fa-fw"></i> Setting</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</%def>


<%def name="footer()">
    <!-- jQuery Version 1.11.0 -->
    <script src="../../static/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../static/js/admin/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../../static/js/admin/plugins/morris/raphael.min.js"></script>
    <script src="../../static/js/admin/plugins/morris/morris.min.js"></script>
    <script src="../../static/js/admin/plugins/morris/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../static/js/admin/sb-admin-2.js"></script>
</%def>

