<%namespace name="base" file="_base.html"/>
<%namespace name="pager" file="../_pager.html"/>

${base.head()}

<body>
    <div id="wrapper">

        ${base.nav()}
        ${base.nav_side('msg')}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">留言墙</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            % for index, msg in enumerate(msgs):
                % if not index & 1:
                    <div class="row">
                % endif
                <div class="col-lg-6">
                    % if msg.has_read:
                        <div class="panel panel-default">
                    % else:
                        <div class="panel panel-green">
                    % endif
                        <div class="panel-heading">
                            <b>From: ${msg.user_name}
                            </b>
                        </div>
                        <div class="panel-body" onclick="window.location.href='/admin/msg_wall/${msg._id}'">
                            <p>${msg.content}</p>
                        </div>
                        <div class="panel-footer">
                            Email: <b>${msg.user_mail}</b> Post on <b>${msg.post_time}</b>
                        </div>
                    </div>
                </div>
                % if index & 1:
                    </div>
                % endif
            % endfor
        </div>
        ${pager.Pager(total, limit)}
    ${base.footer()}
</body>
