<%!
from _base.setting import ABOUT_TITLE, ABOUT_DESC, SITE_TITLE
%>

<%namespace name="base" file="_base.html"/>

${base.head('About Me - ' + SITE_TITLE)}


<body>


    ${base.nav()}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../static/img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>${ABOUT_TITLE}</h1>
                        <hr class="small">
                        <span class="subheading">${ABOUT_DESC}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                ${about}
            </div>
        </div>
    </div>

    <hr>

    ${base.footer()}
</body>

</html>
