<%!
from _base.setting import HOME_TITLE, HOME_DESC, SITE_TITLE
%>
<%namespace name="base" file="_base.html"/>
<%namespace name="pager" file="_pager.html"/>


${base.head(SITE_TITLE)}

<body>

    <!-- Navigation -->
    ${base.nav()}

    <header class="intro-header" style="background-image: url('../static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>${HOME_TITLE}</h1>
                        <hr class="small">
                        <span class="subheading">${HOME_DESC}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                % if not blogs:
                    <div class="post-preview">
                        <h2 class="post-subtitle">还没有写过blog. 去后台新建一篇吧: )</h2>
                % else:
                    % for blog in blogs:
                    <div class="post-preview">
                        <a href="/blog/${blog.slug_title}">
                            <h2 class="post-title">
                                ${blog.title}
                            </h2>
                            <h3 class="post-subtitle">
                                ${blog.summarize}
                            </h3>
                        </a>
                        <p class="post-meta">Posted by <a href="${blog.author_page}">${blog.author}</a> on ${blog.post_date}</p>
                    </div>
                    <hr>
                    % endfor
                % endif
                <!-- Pager -->
                ${pager.Pager(total, limit)}
            </div>
        </div>
    </div>

    <hr>

    ${base.footer()}

</body>

</html>
