<html>
    <head>
        <link href="../static/css/login.css" rel="stylesheet">
    </head>

    <body>
        <main>
            <h1>Welcom :)</h1>
            <form class="flp" id="submitForm">
                <div>
                    <input type="text" name='a' id="email" />
                    <label for="email">Email</label>
                </div>
                <div>
                    <input type="password" name='b' id="password" />
                    <label for="password">Password</label>
                </div>
                <input type="submit" value="Login" id="submit" />
            </form>
        </main>

        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/jquery.easing.min.js"></script>
        <script src="../static/js/login.js"></script>
    </body>
</html>
